// global

* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;

	&:active,
	&:focus {
		outline: none;
	}

	& > * {
		color: inherit;
		font: inherit;
	}
}

// html

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: rgba(207, 216, 220, 1);
	overflow-y: scroll;
	overflow-x: auto;
	line-height: 1;
}

a {
	text-decoration: none;
}

b,
strong {
	font-weight: 700;
}
